<launch>
    <!-- Launch Gazebo with the maze world -->
    <include file="$(find mir_gazebo)/launch/mir_maze_world.launch" />

    <!-- MiR 100 in Gazebo -->
    <arg name="mir_type" default="mir_100" />

    <!-- Unpause Gazebo physics -->
    <node pkg="gazebo_ros" type="spawn_model" name="unpause_physics" output="screen">
        <param name="unpause" value="true" />
    </node>

    <!-- Localization -->

    <node pkg="explore_lite" type="explore" name="explore" output="screen">
        <param name="explore_costmap" value="true" />
    </node>

    <!-- Adaptive Monte Carlo Localization (AMCL) - used in robotics for determining the robot's position and orientation (pose) relative to a known map  -->
    <include file="$(find mir_navigation)/launch/amcl.launch">
        <arg name="initial_pose_x" value="10.0" />
        <arg name="initial_pose_y" value="10.0" />
    </include>


    <!-- Navigation -->
    <include file="$(find mir_navigation)/launch/start_planner.launch">
        <arg name="map_file" value="$(find mir_gazebo)/maps/maze.yaml" />
        <arg name="virtual_walls_map_file" value="$(find mir_gazebo)/maps/maze_virtual_walls.yaml" />
    </include>

    <!-- RViz Visualization -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mir_navigation)/rviz/navigation.rviz" />
</launch>
